.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 100%; /* Positionne l'infobulle à droite de l'élément */
  transform: translateY(-50%); /* Centre verticalement l'infobulle */
  margin-left: 10px; /* Espace entre l'infobulle et l'élément */
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  white-space: nowrap; /* Empêche le texte de s'étendre sur plusieurs lignes */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}