.container-project{
    width: 100%;
    height: 100vh;
    background: #212121;
    display: flex;
    justify-content: center;
}
.content-project{
    width: 90%;
    height: 80vh;
    /* background: white; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-project h1{
    font-family: 'Lexend',sans-serif;
    color: #fff;
}
.content-project hr{
    width: 80px;
    border: 2px solid #14FF00;
    margin-left: 0px;
    transform: translateY(-7px);
}
.content-project-myservices{
    width: 100%;
    height: 70vh;
    /* border: 1px solid #fff; */
    /* background: #121212; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.content-line-round{
    width: 5vw;
    height: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.round-first{
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.round-second{
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.round-third{
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.round-fourth{
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.round-after{
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #14FF00;
    cursor: pointer;
}
.line-first{
    border-left: 2px solid #fff;
    height: 50px;
}
.content-projects-cards{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content-projects-for-card-web{
    width: 100%;
    height: 100%;
    background-color: #212121;
    /* border: 1px solid #14FF00; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content-projects-for-card-mobile{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: none;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}
.content-projects-for-card-design{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: none;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}
.content-projects-for-card-ai{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: none;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 339px) {
    .container-project{
      width: 100%;
      min-height: 100vh;
      background: #212121;
    }
    .content-project{
        width: 100%;
        min-height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .content-project-title{
        width: 70%;
    }
    .content-project h1{
        font-size: 20px;
    }
    .content-project hr{
        width: 45px;
        border: 1px solid #14FF00;
    }
    .content-project-myservices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #212121;
        gap: 0;
        /* background: red; */
    }
    .content-line-round{
        display: block;
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .line-first{
        display: none;
    }
    .content-projects-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .content-projects-for-card-web{
        /* width: 100%;
        background: red;
        min-height: 100vh; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    
    }
    .content-projects-for-card-mobile{
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .content-projects-for-card-design {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .content-projects-for-card-ai {
        width: 100%;
        /* height: 100%; */
        /* background-color: red; */
        /* display: none; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* align-items: center; */
    }
  }