.container-about{
    width: 100%;
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
  }
  .content-about{
    /* background-color: red; */
    width: 90%;
    height: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-about-image{
    width: 50%;
    height: 90vh;
    transform: translateX(-230px);
    background-image: url('../Assets/about2.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.content-about-texte{
    width: 47%;
    height:70vh;
}
.content-about-texte h1{
    font-family: 'Lexend',sans-serif;
    color: #fff;
}
.content-about-texte hr{
    width: 80px;
    border: 2px solid #14FF00;
    margin-left: 0px;
    transform: translateY(-7px);
}
.content-about-texte p{
  font-family: 'Lexend',sans-serif;
  font-weight: 200;
  color:rgb(102, 100, 100);
}
.content-about-btn{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-about-btn a{
    text-decoration: none;
}
.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid #1d7515;
    background-color: #14FF00;
    overflow: hidden;
  }
  
  .button, .button-icon, .button-text {
    transition: all 0.3s;
  }
  
  .button .button-text {
    font-family: 'Lexend',sans-serif;
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button-icon {
    position: absolute;
    transform: translateX(153px);
    height: 100%;
    width: 39px;
    background-color: #1d7515;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #1d7515;
  }
  
  .button:hover .button-text {
    color: transparent;
  }
  
  .button:hover .button-icon {
    width: 148px;
    transform: translateX(15px);
  }
  
  .button:active .button-icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #1d7515;
  }

@media screen and (max-width: 1280px) {
  .content-about{
    width: 90%;
  }
  .content-about-image{
    background-size: cover;
    width: 70%;
    height: 80vh;
    transform: translateX(-180px);
  }
  .content-about-texte{
    width: 80%;
  }
  .content-about-texte p{
    font-size: 18px;
  }
}
@media screen and (max-width: 1254px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-170px);
  }
}
@media screen and (max-width: 1200px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-160px);
  }
}
@media screen and (max-width: 1130px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-150px);
  }
}
@media screen and (max-width: 1080px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-130px);
  }
}
@media screen and (max-width: 1024px) {
  .container-about{
    width: 100%;
    align-items: center;
  }
  .content-about{
    width: 90%;
    height: 92%;
  }
  .content-about-image{
    width: 70%;
    transform: translateX(-120px);
    height: 80vh;
  }
  .content-about-texte p{
    font-size: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-100px);
  }
}
@media screen and (max-width: 863px) {
  .content-about{
    width: 90%;
    justify-content: center;
  }
  .content-about-image{
    background-size: cover;
    width: 70%;
    transform: translateX(-50px);
  }
  .content-about-texte p{
    font-size: 14px;
    width: 500px;
  }
}
@media screen and (max-width: 845px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-40px);
  }
}
@media screen and (max-width: 820px) {
  .content-about-image{
    width: 70%;
    transform: translateX(-50px);
  }
  .content-about-texte{
    width: 100%;
  }
  .content-about-texte p{
    width: 100%
  }
}
@media (max-width: 320px) {
  .container-about{
    width: 100%;
    height: 100vh;
  }
  .content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin: 0;
  }
  .content-about-image{
    width: 55%;
    height: 40%;
    margin-top: -3.7rem;
    margin-left: 5rem;
  }
  .content-about-texte{
    height: 50%;
    margin-top: 0.2rem;
  }
  .content-about-texte h1{
    font-size: 14px;
  }
  .content-about-texteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-about-title{
      margin: 0;
  }
  .content-about-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
    .button{
      width: 11.25rem;
    }
     .button .button-icon{
      margin-left: 8.5rem;
     }
    .button .button-text{
      font-size: clamp(0.75rem, 3vw, 0.875rem);
    }
    .content-about-texte p{
      font-size: clamp(0.655rem, 3vw, 0.75rem); /* 10px */
      text-align: justify;
      margin: 0;
    }
  }
  @media screen and (max-width: 239px) {
    .content-about-btn{
      width: 200px;
    }
  }