.container-about{
    width: 100%;
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
  }
  .content-about{
    /* background-color: red; */
    width: 90%;
    height: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-about-image{
    width: 50%;
    height: 90vh;
    transform: translateX(-230px);
    background-image: url('../Assets/about2.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.content-about-texte{
    width: 47%;
    height:70vh;
}
.content-about-texte h1{
    font-family: 'Lexend',sans-serif;
    color: #fff;
}
.content-about-texte hr{
    width: 80px;
    border: 2px solid #14FF00;
    margin-left: 0px;
    transform: translateY(-7px);
}
.content-about-texte p{
  font-family: 'Lexend',sans-serif;
  font-weight: 200;
  color:rgb(102, 100, 100);
}
.content-about-btn{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-about-btn a{
    text-decoration: none;
}
.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid #1d7515;
    background-color: #14FF00;
    overflow: hidden;
  }
  
  .button, .button-icon, .button-text {
    transition: all 0.3s;
  }
  
  .button .button-text {
    font-family: 'Lexend',sans-serif;
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button-icon {
    position: absolute;
    transform: translateX(153px);
    height: 100%;
    width: 39px;
    background-color: #1d7515;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #1d7515;
  }
  
  .button:hover .button-text {
    color: transparent;
  }
  
  .button:hover .button-icon {
    width: 148px;
    transform: translateX(15px);
  }
  
  .button:active .button-icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #1d7515;
  }

@media (max-width: 768px) {
  .container-about{
    width: 100%;
    height: 100vh;
  }
  .content-about{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: red; */
  }
  .content-about-image{
    width: 100%;
    height: 50%;
    margin-top: 0.8rem;
    margin-left: 28rem;
  }
  .content-about-texte{
    width: 90%;
  }
  .content-about-texte h1{
    font-size: 14px;
  }
  .content-about-texteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .content-about-title{
      margin: 0;
      margin-top: -1rem;
      margin-bottom: 1rem;
  }
  .content-about-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .button{
    width: 11.25rem;
  }
  .button .button-icon{
    margin-left: 8.5rem;
  }
  .button .button-text{
    font-size: clamp(0.75rem, 3vw, 0.875rem);
  }
  .content-about-texte p{
    font-size: clamp(0.7rem, 3vw, 0.75rem); /* 10px */
    text-align: justify;
    margin: 0;
  }
}
@media (max-width: 425px){
  .container-about{
    width: 100%;
    height: 100vh;
  }
  .content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .content-about-texte{
    width: 90%;
    margin: 0;
  }
  .content-about-texte h1{
    font-size: 14px;
  }
  .content-about-texteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
  .content-about-title{
      margin: 0;
  }
  .content-about-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .button{
    width: 11.25rem;
  }
  .button .button-icon{
    margin-left: 8.5rem;
  }
  .button .button-text{
    font-size: clamp(0.75rem, 3vw, 0.875rem);
  }
  .content-about-texte p{
    font-size: clamp(0.655rem, 3vw, 0.75rem)!important;
    text-align: justify;
    margin: 0;
  }
}
@media (max-width: 375px){
  .container-about{
    width: 100%;
    height: 100vh;
  }
  .content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .content-about-texte{
    width: 90%;
  }
  .content-about-texte h1{
    font-size: 14px;
  }
  .content-about-texteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .content-about-title{
      margin: 0;
  }
  .content-about-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .button{
    width: 11.25rem;
  }
  .button .button-icon{
    margin-left: 8.5rem;
  }
  .button .button-text{
    font-size: clamp(0.75rem, 3vw, 0.875rem);
  }
  .content-about-texte p{
    font-size: clamp(0.655rem, 3vw, 0.75rem); /* 10px */
    text-align: justify;
    margin: 0;
  }
}
@media (max-width: 320px) {
  .container-about{
    width: 100%;
    height: 100vh;
  }
  .content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin: 0;
  }
  .content-about-image{
    width: 55%;
    height: 35%!important;
    margin-top: 1rem;
  }
  .content-about-texte h1{
    font-size: clamp(0.85rem, 4vw, 1rem);
  }
  .content-about-texteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-about-title{
      margin: 0;
  }
  .content-about-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
  }
  .button{
    width: 11.25rem;
  }
  .button .button-icon{
    margin-left: 8.5rem;
  }
  .button .button-text{
    font-size: clamp(0.75rem, 3vw, 0.875rem);
  }
  .content-about-texte p{
    font-size: clamp(0.655rem, 3vw, 0.75rem);
    text-align: justify;
    margin: 0;
    margin-top: 0.5rem;
  }
  .content-about-texte hr{
    border: 1px solid #14FF00;
    width: 45px;
  }
}