.container-home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #212121;
}
.content-home{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.content-home-name{
  width: 600px;
  height: 70vh;
  background: transparent;
}
.content-home-name h1{
  color: #fff;
  font-family: 'Lexend',sans-serif;
  font-size: 50px;
  width: 500px;
  height: 40vh;
}
.word-color{
  font-size: 60px;
  font-family: 'Lexend',sans-serif;
  -webkit-text-stroke: 1px #14FF00;
  -webkit-text-fill-color: #212121;
}
.content-home-name .developer{
  font-weight: 400;
  font-size: 32px;
  font-family: 'Lexend',sans-serif;
  color: rgb(102, 100, 100);
  letter-spacing: 2px;
}
.btn-contact a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #14FF00;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.btn-contact a::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.btn-contact a:hover::before {
  transform: scaleY(0);
}

.btn-contact a::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.btn-contact a:hover::after {
  transform: scaleX(0);
}

.btn-contact a span {
  position: relative;
  z-index: 3;
  font-size: 15px;
  font-family: 'Lexend',sans-serif;
}

.btn-contact button {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;
}
.content-home-image{
  width: 45%;
  height: 100vh;
  background-image: url('../../../public/assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-130px);
}
  
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@media screen and (max-width: 1280px) {
  .container-home{
    align-items: center;
  }
  .content-home{
    width: 85%;
    padding: 0;
    align-items: center;
  }
  .content-home-name{
    transform: translateY(30px);
  }
  .content-home-image{
    transform: translateY(-30px);
  }
}
@media screen and (max-width: 1120px) {
  .content-home{
    width: 83%;
  }
  .content-home-name{
    width: 500px;
  }
  .content-home-image{
    width: 45%;
  }
}
@media screen and (max-width: 1093px) {
  .content-home{
    width: 83%;
    justify-content: space-between;
    }
  .content-home-name{
    width: 400px;
  }
  .content-home-name{
    width: 45%;
  }
}

@media screen and (max-width: 1024px){
  .container-home{
    height: auto;
    display: flex;
    align-items: center;
  }
  .content-home{
    width: 90%;
    height: 667px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .content-home-name{
    width: 450px;
    height: 70vh;
  }
  .content-home-image{
    width: 40%;
    height: 90vh;
  }
}

@media screen and (max-width: 969px) {
  .content-home{
    width: 90%;
  }
  .content-home-name{
    width: 350px;
  }
  .content-home-name h1{
    font-size: 45px;
    width: 450px;
  }
  .word-color{
    font-size: 50px;
  }
  .content-home-name .developer{
    font-size: 25px;
  }
  .content-home-image{
    width: 40%;
    padding-left: 60px;
  }
}

@media screen and (max-width: 900px) {
  .container-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .content-home{
    width: 90%;
  }
  .content-home-name{
    width: 30%;
    transform: translateY(50px);
  }
  .content-home-name h1{
    font-size: 35px;
  }
  .word-color{
    font-size: 40px;
  }
  .content-home-name .developer{
    font-size: 20px;
  }
  .content-home-image{
    width: 40%;
  }
  .btn-contact{
    transform: translateY(-70px);
  }
}

@media screen and (max-width: 800px) {
  .content-home{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .content-home-name{
    width: 250px;
  }
  .content-home-name h1{
    font-size: 25px;
  }
  .word-color{
    font-size: 35px;
  }
  .content-home-name .developer{
    font-size: 15px;
  }
  .btn-contact{
    transform: translateY(-100px);
  }
  .content-home-image{
    background-size: contain;
    width: 200px;
    padding-right: 100px;
    transform: translateY(-80px);
  }
}

@media screen and (max-width: 768px) {
  .container-home{
    width: 100%;
    height: 100vh;
  }
  .content-home{
    width: 100%;
    height: 100%;
    background: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .content-home-image{
    width: 70%;
    height: 400px;
    transform: translateY(5px);
    background-image: url('../../../public/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .content-home-name{
    width: 100%;
    height: 49%;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .content-home-name h1{
    width: 500px;
    height: 50vh;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .word-color{
    font-size: 60px;
    font-family: 'Lexend',sans-serif;
    -webkit-text-stroke: 1px #14FF00;
    -webkit-text-fill-color: #212121;
  }
  .content-home-name .developer{
    font-weight: 400;
    width: 300px;
    font-family: 'Lexend',sans-serif;
    color: rgb(102, 100, 100);
    letter-spacing: 2px;
    font-size: 28px;
  }
  .btn-contact{
    transform: translateY(-40px);
  }
  .btn-contact a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #14FF00;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
}


@media screen and (max-width: 640px){
  .container-home{
    width: 100%;
    height: 100vh;
  }
  .content-home{
    width: 100%;
    height: 100%;
    background: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .content-home-image{
    width: 50%;
    height: 400px;
    transform: translateY(5px);
    background-image: url('../../../public/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .content-home-name{
    width: 100%;
    height: 49%;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .content-home-name h1{
    width: 500px;
    height: 50vh;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .word-color{
    font-size: 60px;
    font-family: 'Lexend',sans-serif;
    -webkit-text-stroke: 1px #14FF00;
    -webkit-text-fill-color: #212121;
  }
  .content-home-name .developer{
    font-weight: 400;
    width: 300px;
    font-family: 'Lexend',sans-serif;
    color: rgb(102, 100, 100);
    letter-spacing: 2px;
    font-size: 28px;
  }
  .btn-contact{
    transform: translateY(-40px);
  }
  .btn-contact a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #14FF00;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
  
  .btn-contact a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-contact a:hover::before {
    transform: scaleY(0);
  }
  
  .btn-contact a::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }
  
  .btn-contact a:hover::after {
    transform: scaleX(0);
  }
  
  .btn-contact a span {
    position: relative;
    z-index: 3;
    font-size: 15px;
    font-family: 'Lexend',sans-serif;
  }
  
  .btn-contact button {
    background-color: none;
    text-decoration: none;
    background-color: #212121;
    border: none;
  }
}
@media screen and (max-width: 509px) {
  .container-home{
    width: 100%;
  }
  .content-home-name h1{
    width: 490px;
    height: 50vh;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .word-color{
    font-size: 50px;
    font-family: 'Lexend',sans-serif;
    -webkit-text-stroke: 1px #14FF00;
    -webkit-text-fill-color: #212121;
  }
  .btn-contact{
    transform: translateY(-35px);
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  .container-home{
    width: 100%;
  }
  .content-home-name{
    height: 40%;
  }
  .content-home-name h1{
    width: 390px;
    height: 50vh;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    font-size: 30px;
    text-align: center;
  }
  .word-color{
    font-size: 40px;
    font-family: 'Lexend',sans-serif;
    -webkit-text-stroke: 1px #14FF00;
    -webkit-text-fill-color: #212121;
  }
  .content-home-name .developer{
    font-size: 22px;
  }
}
@media (max-width: 399px) {
  .container-home{
    width: 100%;
  }
  .content-home-image{
    width: 30%;
  }
  .content-home-name{
    height: 40%;
  }
  .content-home-name h1{
    width: 330px;
    height: 50vh;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    font-size: 25px;
    text-align: center;
  }
  .word-color{
    font-size: 35px;
    font-family: 'Lexend',sans-serif;
    -webkit-text-stroke: 1px #14FF00;
    -webkit-text-fill-color: #212121;
  }
  .content-home-name .developer{
    font-size: 18px;
  }
  .btn-contact{
    transform: translateY(-45px);
  }
}
@media screen and (max-width: 339px) {
  .container-home{
    width: 100%;
  }
  .content-home-image{
    transform: translateY(-10px);
  }
  .content-home-name{
    height: 35%;
  }
  .content-home-name h1{
    width: 300px;
    font-size: 20px;
  }
  .content-home-name .developer{
    font-size: 15px;
  }
  .content-home-name .word-color{
    font-size: 30px;
  }
}