.container-contact{
    width: 100%;
    height: 100vh;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-contact{
    /* background-color: red; */
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 25px;
}
.content-contact h1{
    font-family: 'Lexend',sans-serif;
    color: #fff;
}
.content-contact hr{
    width: 80px;
    border: 2px solid #14FF00;
    margin-left: 0px;
    transform: translateY(-7px);
}
.content-contact-cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-contact-cardOne{
    width: 300px;
    height: 100%;
    margin-left: 100px;
    margin-top: 50px;
}
.content-contact-cardOne h2{
    width: 300px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardOne h5{
    font-family: 'Lexend',sans-serif;
    font-weight: 300;
    color: #fff;
}
.content-contact-cardOne p{
    font-size: 12px;
    font-weight: 100;
    color: #b1afaf;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardTwo{
    width: 600px;
    height: 100%;
    background: #212121;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.content-contact-cardTwo h4{
    width: 300px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardTwo-message{
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-contact-cardTwo-message input{
    width: 500px;
    height: 50px;
    border: 1px solid #212121;
    border-radius: 5px;
    outline-color: #14FF00;
    background: #3d3a3a;
}
.btnActive{
    width: 200px;
    height: 50px;
    background: #14FF00;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    border: 1px solid #212121;
    border-radius: 5px;
    cursor: pointer;
}
#lab{
    color: #797373;
    font-weight: 400;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Lexend',sans-serif;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}
#input-message {
    width: 500px;
    height: 80px;
}
#input-message:focus + #lab,
#input-message:not(:placeholder-shown) + #lab {
    top: 5px;
    font-size: 12px;
    transform: translateY(0);
}

/* mobile */
 @media screen and (max-width: 768px) {
    .container-contact{
        width: 100%;
        height: 100vh;
        background: #212121;
    }
    .content-contact{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 0px;

    }
    .content-contact-cards{
        flex-direction: column;
        width: 100%;
    }
    .content-contact-title{
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-contact h1{
        font-size: clamp(0.875rem, 2.5vw, 1rem);
    }
    .content-contact hr{
        width: 60px;
        border: 1px solid #14FF00;
        margin: 0rem 0rem 0rem -1rem;
    }
    .content-contact-cardOne{
        width: 100%;
        height: 140px;
        margin: 0;
        text-align: center;
    }
    .content-contact-cardOne h2{
        font-size: clamp(0.15em, 4vw, 1em);
        width: 100%;
    }
    .content-contact-cardOne h5{
        font-size: clamp(0.15em, 4vw, 1em);
    }
    .content-contact-cardOne p{
        font-size: 10px;
    }
    .content-contact-cardTwo{
        width: 90%;
        height: 65%;
        margin: 0;
    }
    .content-contact-cardTwo h4{
        width: 280px;
        text-align: center;
    }
    .content-contact-cardTwo-message{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .content-contact-cardTwo-message input{
        width: 100%;
        height: 90%;
    }
    .for-input {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #input-message{
        width: 100%;
    }
    .btnActive{
        width: 300px;
        height: 500px;
    }
} 
@media (max-width: 425px){
    .container-contact {
        width: 100%;
        overflow-x: hidden;
    }
    .content-contact {
        width: 100%;
    }
    .container-contact h1{
        font-size: 14px;
    }
    .content-contact-title{
        margin-top: -0.7rem;
    }
    .content-contact-cardOne{
        margin-top: 0.145rem;
    }
    .content-contact-cardTwo {
        width: 90%;
        height: 70%!important;
        margin-top: 0.5rem;
    }
    .content-contact-cardTwo-message input {
        width: 100%;
        height: 3rem;
    }
    .for-input {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #input-message {
        width: 100%;
        height: 4.375rem;
    }
    .btnActive {
        width: 9.375rem !important;
        height: 50px;
    }
}
@media (max-width: 375px) {
    .container-contact {
        width: 100%;
        overflow-x: hidden;
    }
    .content-contact {
        width: 100%;
    }
    .content-contact-title{
        margin-top: -0.3rem;
    }
    .content-contact-cardOne{
        margin-top: 0.145rem;
    }
    .content-contact-cardTwo {
        width: 90%;
        height: 100%;
        margin-top: 1rem;
    }
    .content-contact-cardTwo-message input {
        width: 100%;
        height: 3rem;
    }
    .for-input {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #input-message {
        width: 100%;
        height: 4.375rem;
    }
    .btnActive {
        width: 9.375rem !important;
    }
}
@media (max-width: 320px) {
    .container-contact {
        width: 100%;
        overflow-x: hidden;
    }

    .content-contact {
        width: 100%;
    }

    .container-contact h1 {
        font-size: clamp(0.85rem, 4vw, 1rem)!important;
    }

    .content-contact-title {
        margin-top: -0.3rem;
    }

    .content-contact-cardOne {
        margin-top: 0.5rem;
    }

    .content-contact-cardOne p {
        font-size: clamp(0.75rem, 4vw, 1rem)!important;
    }

    .content-contact-cardTwo {
        width: 90%;
        height: fit-content;
    }

    .content-contact-cardTwo-message input {
        width: 100%;
        height: 3rem;
    }

    .for-input {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #input-message {
        width: 100%;
        height: 4.375rem;
    }

    .btnActive {
        width: 50%;
        max-width: 9.374rem;
    }
}