.container-contact{
    width: 100%;
    height: 100vh;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-contact{
    width: 90%;
    height: 80vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 25px;
}
.content-contact h1{
    font-family: 'Lexend',sans-serif;
    color: #fff;
}
.content-contact hr{
    width: 80px;
    border: 2px solid #14FF00;
    margin-left: 0px;
    transform: translateY(-7px);
}
.content-contact-cards{
    width: 100%;
    height: 100%;
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-contact-cardOne{
    width: 300px;
    height: 100%;
    margin-left: 100px;
    margin-top: 50px;
    /* background: violet; */
}
.content-contact-cardOne h2{
    width: 300px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardOne h5{
    font-family: 'Lexend',sans-serif;
    font-weight: 300;
    color: #fff;
}
.content-contact-cardOne p{
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardTwo{
    width: 600px;
    height: 100%;
    background: #212121;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.content-contact-cardTwo h4{
    width: 300px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lexend',sans-serif;
}
.content-contact-cardTwo-message{
    width: 90%;
    height: 90%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-contact-cardTwo-message input{
    width: 500px;
    height: 30px;
    border: 1px solid #212121;
    border-radius: 5px;
    outline-color: #14FF00;
    background: #3d3a3a;
}
.btnActive{
    width: 200px;
    height: 50px;
    background: #14FF00;
    /* background: #373837; */
    color: #fff;
    font-family: 'Lexend',sans-serif;
    border: 1px solid #212121;
    border-radius: 5px;
    cursor: pointer;
}
.btnDisable{
    width: 200px;
    height: 50px;
    background: #373837;
    color: #fff;
    font-family: 'Lexend',sans-serif;
    border: 1px solid #212121;
    border-radius: 5px;
    cursor: pointer;
}
.content-contact-cardTwo-message label{
    color: #fff;
    font-weight: 400;
    font-family: 'Lexend',sans-serif;
}
#input-message{
    width: 500px;
    height: 80px;
}

@media screen and (max-width: 640px) {
    .container-contact{
        width: 100%;
        height: 100vh;
        background: #212121;
        /* margin-top: 35px; */
    }
    .content-contact{
        width: 100%;
        height: 77%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .content-contact h1{
        font-size: 20px;
        text-align: center;
    }
    .content-contact hr{
        width: 45px;
        border: 1px solid #14FF00;
    }
    .content-contact-cards{
        flex-direction: column;
    }
    .content-contact-cardOne{
        margin: 0;
        text-align: center;
    }
    .content-contact-cardOne h2{
        font-size: 16px;
        width: 300px;
    }
    .content-contact-cardOne p{
        width: 250px;
        font-size: 12px;
        text-align: start;
        transform: translate(25%,25%);
        /* text-align: justify; */
    }
    .content-contact-cardTwo{
        width: 90%;
        height: 70%;
        margin: 0;
    }
    .content-contact-cardTwo h4{
        width: 280px;
        text-align: center;
    }
    .content-contact-cardTwo-message{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .content-contact-cardTwo-message input{
        width: 490px;
        height: 40%;
    }
    #input-message{
        width: 490px;
        height: 300px;
    }
    .btnDisable{
        width: 490px;
        height: 200px;
    }
    .btnActive{
        width: 310px;
        height: 200px;
    }
    
}
@media (min-width: 509px) and (max-width: 561px) {
    .content-contact-cardTwo-message{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .content-contact-cardTwo-message input{
        width: 440px;
        height: 40%;
    }
    #input-message{
        width: 440px;
        height: 300px;
    }
    .btnDisable{
        width: 440px;
        height: 200px;
    }
    .btnActive{
        width: 440px;
        height: 200px;
    }
}
@media (min-width: 460px) and (max-width: 508px) {
    .content-contact-cardTwo-message{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .content-contact-cardTwo-message input{
        width: 390px;
        height: 40%;
    }
    #input-message{
        width: 390px;
        height: 300px;
    }
    .btnDisable{
        width: 390px;
        height: 200px;
    }
    .btnActive{
        width: 390px;
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .container-contact{
        width: 100%;
        height: 100vh;
        background: #212121;
        /* margin-top: 35px; */
    }
    .content-contact{
        width: 100%;
        height: 77%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .content-contact h1{
        font-size: 20px;
        text-align: center;
    }
            .content-contact hr{
                width: 45px;
                border: 1px solid #14FF00;
            }
            .content-contact-cards{
        flex-direction: column;
    }
            .content-contact-cardOne{
        margin: 0;
        text-align: center;
    }
    .content-contact-cardOne h2{
        font-size: 16px;
        width: 300px;
    }
    .content-contact-cardOne p{
        width: 250px;
        font-size: 12px;
        text-align: start;
        transform: translate(25%,25%);
    }
    .content-contact-cardTwo{
        width: 90%;
        height: 70%;
        margin: 0;
    }
            .content-contact-cardTwo h4{
        width: 280px;
        text-align: center;
    }
    .content-contact-cardTwo-message{
        width: 90%;
        display: flex;
        align-items: center;
    }
    .content-contact-cardTwo-message input{
        width: 280px;
        height: 30%;
    }
    #input-message{
        width: 280px;
        height: 300px;
    }
    .btnDisable{
        width: 180px;
        height: 200px;
    }
    .btnActive{
        width: 280px;
        height: 200px;
    }
}
    
        @media (min-width: 401px) and (max-width: 459px) {
            .content-contact-cardTwo-message{
                width: 90%;
                display: flex;
                align-items: center;
                text-align: start;
            }
            .content-contact-cardTwo-message input{
                width: 330px;
                height: 40%;
            }
            #input-message{
                width: 330px;
                height: 300px;
            }
            .btnDisable{
                width: 330px;
                height: 200px;
            }
            .btnActive{
                width: 330px;
                height: 200px;
            }
        } 