.navbar{
    width: 100%;
    height: 10vh;
    position: fixed;
    overflow: auto;
    top: 0;
    background: #121212;
    font-family: 'Lexend', sans-serif;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    text-transform: capitalize;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 60px;
}
.navbar-mode {
    font-family: 'Lexend', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 60px;
}
.navbar-mode img{
  width: 30px;
  height: 30px;
}
 
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #14FF00;
    transition: width 0.4s ease;
  }
  
  .navbar-links a:hover::after {
    width: 100%;
  }

@media (max-width: 640px) {
  .navbar{
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    background: #121212;
    font-family: 'Lexend', sans-serif;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-logo{
    text-transform: capitalize;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    /* margin-left: 10px; */
  }
  .navbar-links a{
    display: none;
    color: blue;
  }
  .navbar-mode img{
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 509px) {
  .navbar{
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  .navbar{
    width: 100%;
  }
}
@media screen and (max-width: 399px) {
  .navbar{
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .navbar{
    width: 100%;
  }
}