
  .overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,h4:hover .overlay a,h4:focus {
    color: #14FF00;
  }