body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  background: black;
  border-radius: 30px;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #14FF00;
  border-radius: 30px;
  
}
::-webkit-scrollbar-track{
  background: white;
  border-radius: 30px;
}

